*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-width: auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}




header{
  width: 100%;
  height:65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(49 97 224);
}




header div.logo{
  height: 35px;
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(49 97 224);
}


header .menu ul{
  display: flex;
  list-style: none;
}

header .menu ul li{
  margin: 0 15px;
}

header .menu ul li a{
  text-decoration: none;
  color: rgb(254 254 255);
}

.button a{
  text-decoration: none;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 25px;
  
}

.firstscreen{
  width: 100%;
  height: 500px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}




.sezione{
  width: 100%;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content{
width: 50%;
height: 80%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(255,0,0,0.0);
}



.content h1{
  color: rgb(255 255 255);
  font-size: 55px;
  padding-top: 30px;
  text-align: center;
  
}

.content p{
  color: rgb(255 255 255);
  font-size: 15px;
  padding-top: 100px;
  text-align: center;
}

.entrit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 130px;
}

.entrit{
  display: flex;
  flex-direction: row;

}


div .link a{
  color: black;
  text-decoration: none;
  background-color: aliceblue;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
}

div .aprilink a{
  text-decoration: none;
  color: rgb(255 255 255);
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  background-color: rgb(34 39 41);
}



.sezione .first{
  height: 350px;
  width: 40%;
  background-image: url(../img/item1.svg);
}

.sezione .firstn{
  height: 350px;
  width: 25%;
  background-color: rgb(255 191 203);
}

.firstn h1{
  padding-top: 50px;
  padding-left: 20px;
  font-size: 35px;
}

.firstn p{
  padding: 20px 20px;
}


.sezione .second{
  height: 350px;
  width: 25%;
  padding-right: 20px;
  background-color: rgb(255 191 203);
}



.sezione .secondn{
  height: 350px;
  width: 40%;
background-image: url(../img/item2.svg);}


.second h1{
  padding-top: 50px;
  padding-left: 20px;
  font-size: 35px;
}

.second p{
  font-size: 20px;
}


.sezione .trt{
  height: 350px;
  width: 40%;
  background-image: url(../img/item3.svg);
}


.sezione .trtn{
  height: 350px;
  width: 25%;
  background-color: rgb(255 191 203);
}

.trtn h1{
  padding-top: 50px;
  padding-left: 20px;
  font-size: 35px;
}

.trtn p{
  padding: 20px 20px;
}

.container{
  width: 100%;
  height: 1200px;
  background-color: rgb(246 246 246);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container section{
  width: 65%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(35 139 33);
}






.prechiusura{
  width: 100%;
  height: 500px;
  padding-bottom: 30px;
  background-color: rgb(35 39 42);
  display: flex;
  justify-content: center;
  align-items: center;
}


.prechiusura .col1{
  width: 20%;
  height: 95%;
  background-color: rgb(240 128 128);
  border: 2px solid black;
}

.prechiusura .col2,
.prechiusura .col3,
.prechiusura .col4,
.prechiusura .col5{
  width: 10%;
  height: 95%;
  background-color: rgb(33 178 170);
  border: 2px solid black;
}

.last{
  width: 100%;
  height: 70px;
  border-top: 2px solid rgb(212 213 213);
  background-color: rgb(35 39 42);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.lastmenu{
  width: 60%;
  height: 75%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


